Italy house prices prediction.
Dataset https://www.kaggle.com/datasets/tommasoramella/italy-house-prices/data

In [29]:

path = "italy-house-prices"

print("Path to dataset files:", path)

Path to dataset files: italy-house-prices

In [30]:
import os
PATH = path+"/versions/8"
os.listdir(PATH)

['limits_IT_municipalities.geojson',
 'limits_IT_provinces.geojson',
 'limits_IT_regions.geojson',
 'rents_clean.csv',
 'rent_raw.csv',
 'sale_clean.csv',
 'sale_raw.csv']

In [31]:
import pandas as pd
import numpy as np
from deep_translator import GoogleTranslator
import json
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import geopandas as gpd
from pandas_geojson import read_geojson

In [32]:
df_rent_clean = pd.read_csv(PATH + "/rents_clean.csv")
df_rent_clean.head(3)

,regione,citta,quartiere,prezzo,datetime,posti auto,bagni per stanza,bagni,stanze,ultimo piano,...,giardino privato,impianto allarme,portiere,piscina,villa,intera proprieta,appartamento,attico,loft,mansarda
0,NaN,Milano,Centrale,1800.0,2023-07-03,1,0.333333,1.0,3.0,0,...,0,0,0,0,0,0,1,0,0,0
1,NaN,Torino,Santa Rita,450.0,2023-07-03,0,0.500000,1.0,2.0,1,...,0,0,0,0,0,0,1,0,0,0
2,NaN,Padova,Prato della Valle - Pontecorvo,3200.0,2023-07-03,1,NaN,3.0,NaN,0,...,0,0,0,0,0,0,1,0,0,0